@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.top {
  flex-grow: 1;
}

header {
  min-height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 64px;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.logo {
  margin-top: -60px;
}

header img {
  border: 0;
}

.menu {
  list-style: none;
  display: flex;
}
.menu a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13.4081px;
  line-height: 21px;
  color: #191819;
}

.menu a:hover {
  color: #2acc32;
  background-image: url(/img/eclipse2.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 6px;
}

.menu a:active {
  color: rgba(63, 65, 63, 0.5019607843);
}

nav li {
  padding-right: 28px;
  box-sizing: border-box;
}

.button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 19.1295px;
  line-height: 20px;
  color: #191819;
  box-sizing: border-box;
  padding: 11px 29px;
  border: 1.18px solid #8ac653;
  border-radius: 24.7034px;
  margin-top: -13px;
  margin-left: 15px;
}

.button:hover {
  background-color: #2acc32;
  border: 1.18px solid #2acc32;
  transition: 400ms;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
}

.button:active {
  box-shadow: 1px 1px 30px rgba(28, 158, 28, 0.973);
  transform: translate3d(0, 0, -1em);
  color: rgba(255, 255, 255, 0.589);
}

.bannerImage {
  position: relative;
  box-sizing: border-box;
}

.bannerHead {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 67.2318px;
  line-height: 72px;
  color: #ffffff;
  padding-top: 116px;
  padding-left: 73px;
}

.bannerWord {
  background: url(../img/vector.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  padding: 50px;
  box-sizing: border-box;
}

.assortim {
  display: flex;
  justify-content: space-around;
}

.leftAssortim {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.rightAssortim {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cardDiv {
  background: #f5f5f5;
  border-radius: 40.9191px;
  padding-bottom: 37px;
  margin-top: 250px;
  box-sizing: border-box;
}

.cardImg {
  right: -524px;
  top: -160px;
}

.cardHead {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 41.8867px;
  line-height: 45px;
  padding-top: 20px;
  padding-bottom: 27px;
  box-sizing: border-box;
  color: #2acc32;
}

.cardP {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 26.3416px;
  line-height: 26px;
  color: #191819;
  box-sizing: border-box;
}

footer {
  min-height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding-top: 300px;
  padding-bottom: 90px;
}
footer .footerOneP {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12.0427px;
  line-height: 13px;
  letter-spacing: -0.03em;
  color: #191819;
}
footer .footerTwo {
  max-width: 320px;
  display: flex;
  flex-direction: column;
}
footer .footerTwoP {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18.7014px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #191819;
}
footer .footerThree {
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18.7014px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #191819;
}

label #menuLine,
label #closed {
  float: right;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 932px) {
  nav ul li,
nav button {
    display: none;
  }
  .header {
    padding-bottom: 30px;
  }
  .menu {
    display: block;
    box-sizing: border-box;
  }
  .menu a:hover {
    color: #eeeeee;
  }
  label #menuLine {
    display: block;
  }
  #menuLine {
    margin-top: 6px;
  }
  ul {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background: #8ac653;
    top: 200px;
    left: -100%;
    flex-direction: column;
    margin-top: -80px;
    transition: all 0.5s;
    z-index: 1;
  }
  nav ul li {
    display: flex;
    justify-content: center;
    padding-left: 40px;
  }
  .menu a {
    padding-top: 15px;
    font-size: 20px;
    line-height: 22px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #check:checked ~ label #menuLine {
    display: none;
  }
  #check:checked ~ label #closed {
    margin-top: 5px;
    display: block;
  }
  .assortim {
    display: flex;
    flex-direction: column;
  }
  .leftAssortim {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .rightAssortim {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .cardDiv {
    background: #f5f5f5;
    border-radius: 40.9191px;
    padding-bottom: 37px;
    margin-top: 120px;
    box-sizing: border-box;
  }
  .cardP {
    font-size: 19px;
  }
  .cardHead {
    font-size: 26px;
    padding-top: 0;
  }
  .bannerImg {
    display: none;
  }
  .bannerHead {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 23px;
    padding-top: 0;
    position: static;
    padding-left: 0;
  }
  .bannerImage {
    position: static;
  }
  .bannerWord {
    padding: 25px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding-top: 90px;
  }
  footer .footerOneP {
    padding-top: 11px;
    padding-bottom: 50px;
  }
  footer .footerThree {
    font-weight: 500;
    font-size: 21.4338px;
    line-height: 31px;
    font-size: 12px;
    padding-top: 22px;
    letter-spacing: -0.03em;
    color: #000000;
  }
  footer .footerTwoP {
    font-weight: 500;
    font-size: 21.4338px;
    line-height: 31px;
    font-size: 15px;
    letter-spacing: -0.03em;
    color: #000000;
    max-width: 250px;
  }
}/*# sourceMappingURL=styleProducts.css.map */